* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 2% 10% 0% 10%;
    background:  #373632;
    display: block;
    
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    position: relative;
    align-items: center
}



.imagenes img {
    display: inherit;
    border: 1px solid rgb(232, 208, 180);
    width: 30%;
    height: min-content;
    margin: 5px 0px 5px 0px;
}

.una img {
    width: 100%;
}



h1 {
    font-size: xx-large;
    margin: 20px 0px 0px 0px;
    text-align: center;
    background: #373632;
    padding: 15px;
    color: rgb(232, 208, 180);
    border-bottom: rgb(232, 208, 180) solid 1px;
;
}

h2 {
    border-top: rgb(232, 208, 180) solid 1px;
    font-size:xx-large;
    margin: 20px 0px 20px 0px;
    text-align: center;
    background:  #373632;
    padding: 15px;
    color: rgb(232, 208, 180);
}

.video-container {
    position: relative;
    width: 100%; /* Ancho al 100% del contenedor padre */
    padding-bottom: 56.25%; /* Altura proporcional al ancho para mantener el aspecto 16:9 */
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.overlay {
    z-index: 1000;
    background-color: rgba(55, 54, 50,0.8);
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.imagenes .img-grande {
    position: fixed;
    height: 99%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.mostrarOverlay {
    display: block;
}

@media screen and (max-width: 940px) {
    body {
        width: 98%;
        margin: 2% 1% 0% 1%;
    }

    .imagenes img {
        width: 100%;
    }
    
    .una img {
        width: 100%;
    }
    .imagenes .img-grande {
        height: 60%;
    }

}